# Ignore everything in source CPP directory
source CPP/*

# Allow only selected extensions
!*.cpp
!*.h
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.txt
!*.png
!*.pdf
!*.drawio

# Allow directories (so Git can track files within)

