# Ignore everything in all sub-directories
*

# Allow only selected extensions
!*.cpp
!*.h
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.txt
!*.png
!*.pdf
!*.drawio

# Allow directories (so Git can track files within)
!*/